:root {
  --background-body: #E5E5E5;
  --azul-claro: #6688FF;
  --branco: #FFFFFF;
  --color-button-salvar: #2CBE82;
  --color-button-excluir: #DA2B40;
  --color-button-apagar: #98031E;
  --segunda: #FFA246;
  --terca: #35E185;
  --quarta: #6688FF;
  --quinta: #B266FF;
  --sexta: #66D1FF;
  --sabado: #FF66D4;
  --domingo: #FF6666;
  --tarefa-repetida: #F55D5D;
  --font-color-hora: #3B3E45;
  --font-color-description-atividade: #333333;
  --font-poppins: 'Poppins', sans-serif;
  --font-nunito: 'Nunito', sans-serif;
  --font-weight: 700;
}